body {
  background: white;
  height: 1440px; }

.header {
  background-color: transparent; }
  .header .header-wrapper {
    background-color: transparent;
    float: right;
    margin-top: 10px;
    margin-right: 20px; }
  .header a {
    text-decoration: none;
    opacity: 0.8; }
  .header a:hover {
    -moz-text-shadow: 0 0 10px #ccc;
    -webkit-text-shadow: 0 0 10px #ccc;
    text-shadow: 0 0 10px #ccc;
    opacity: 1.0; }
  .header button:hover {
    background-color: white;
    color: black; }
  .header div {
    font-family: Quicksand;
    padding: 10px;
    display: inline-block;
    font-size: 100%;
    color: #F0F5D7; }
  .header button {
    font-family: Quicksand;
    background-color: transparent;
    color: white;
    height: 50px;
    width: 100px;
    border: 2px solid white; }

.main-display {
  background: url(../images/mac_desk2.png) no-repeat center;
  background-size: cover;
  height: 660px; }
  .main-display .supertag {
    text-align: center;
    position: relative;
    width: 700px;
    margin-left: -350px;
    font-family: Fjalla One;
    font-size: 500%;
    color: #F0F5D7;
    left: 50%;
    top: 40%; }
  .main-display .tagline {
    display: none;
    font-family: Tangerine;
    color: #F0F5D7; }
  .main-display .name-desc {
    position: relative;
    left: 50%;
    top: 70%;
    margin-left: -350px;
    text-align: center;
    width: 700px;
    display: none;
    font-family: Oswald;
    color: rgba(0, 0, 0, 0.9); }
    .main-display .name-desc h4 {
      color: #F0F5D7;
      margin: 0;
      margin-bottom: 0;
      font-size: 200%; }
    .main-display .name-desc h3 {
      color: #F0F5D7;
      margin: 0;
      margin-top: 5px;
      font-size: 200%; }

.mid-section {
  height: 1540px; }
  .mid-section p {
    margin: 0;
    padding: 0; }
  .mid-section h3 {
    margin: 0;
    padding: 0; }

.footer {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 200px;
  opacity: 0.9; }
  .footer .icons {
    position: relative;
    width: 480px;
    height: 130px;
    left: 50%;
    top: 30px;
    margin-left: -240px; }
    .footer .icons .github-icon {
      position: absolute;
      bottom: 0%;
      left: 0%;
      width: 100px;
      height: 100px;
      background: url(../images/github2.png);
      background-repeat: no-repeat;
      background-size: cover; }
    .footer .icons .youtube-icon {
      position: absolute;
      bottom: 0%;
      left: 120px;
      width: 100px;
      height: 100px;
      background: url(../images/youtube.png);
      background-repeat: no-repeat;
      background-size: cover; }
    .footer .icons .gmail-icon {
      position: absolute;
      bottom: 0%;
      left: 240px;
      width: 100px;
      height: 100px;
      background: url(../images/gmail.png);
      background-repeat: no-repeat;
      background-size: cover; }
    .footer .icons .linkedin-icon {
      position: absolute;
      bottom: 0%;
      left: 360px;
      width: 100px;
      height: 100px;
      background: url(../images/linkedin.png);
      background-repeat: no-repeat;
      background-size: cover; }

/*# sourceMappingURL=blog.css.map */
